
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: green;
}

.navbar a {
    display: block;
    padding: 15px 25px;
    color: yellow;

    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
}

.navbar a:link,
.navbar a:visited {
    background-color: red;
}

.navbar a:hover {
    background-color: gray;
}
.navbar a:active {
    background-color: black;
}