.board{
    background-color: green;
    list-style: None;
    display : flex;
    padding:20px;
    gap : 30px
}
.board.a:active{
    color: aqua;
}
.board.a:hover{
    color: red;
}
.board.a:visited{
    color :brown
}